.fondo2{
    --ion-background-color: var(--ion-color-dark) !important; 
    
}

.ion-searchbar{
    color: var(--ion-color-danger) !important;
    --icon-color: var(--ion-color-danger) !important;
    --background: var(--ion-color-primary-contrast);
    --border-radius: 20px;

}

