<ion-header class="fondo2" >
  <ion-toolbar>
    <!--div>
      (keyup.enter)="getMovie( $event)"
    </div-->
    <!--ion-item slot="start"> 
      <ion-img  src="assets/imagenes/icon.png"></ion-img>
    </ion-item-->
    <ion-item>
      <ion-searchbar   placeholder="Buscar Producto" style="font-family: 'Times New Roman', Times, serif;"  ></ion-searchbar>
    </ion-item>
    <!--ion-item slot="end">  
      <ion-icon  name="search-outline" style="color: white; font-size: 30px; margin-right: 20px;"></ion-icon>
      <ion-icon style="color: white; font-size: 30px;" name="log-out-outline"></ion-icon>
    </ion-item-->  
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card style="background-color: white">
    <div >
      <img src="../../assets/img/tienda1.jpg">
    </div>
    <ion-card-header>
      <ion-card-subtitle> 
      <ion-chip  >
  
      </ion-chip> 
    </ion-card-subtitle>
      <ion-card-title class="fontTipe">
     
      
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="fontTipe2">
      <p> </p>
    </ion-card-content>
  </ion-card>

</ion-content>
